<template>
    <div class="ui-container">
        <vuetable ref="vuetable"
                  api-url="/api/items"
                  :fields="fields"
                  pagination-path=""
                  @vuetable:pagination-data="onPaginationData"
        ></vuetable>
        <vuetable-pagination ref="pagination"
                             @vuetable-pagination:change-page="onChangePage"
        ></vuetable-pagination>
    </div>
</template>
<style>

</style>
<script>
   import Vuetable from 'vuetable-2/src/components/Vuetable.vue'
   import VuetablePagination from 'vuetable-2/src/components/VuetablePagination.vue'

   export default{
       components: {
        Vuetable,
        VuetablePagination
       },
       methods: {
            onPaginationData (paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage (page) {
                this.$refs.vuetable.changePage(page)
            }
       },
       data(){
            return{
                fields: [
                    {
                        name: 'url',
                        title: 'URL'
                    },
                    {
                        name: 'imageUrl',
                        title: 'Image URL'
                    },
                    {
                        name: 'name',
                        title: 'Name'
                    },
                    {
                        name: 'description',
                        title: 'Description'
                    },
                ]
            }
        },
    }
</script>
